<?xml version="1.0" encoding="UTF-8" ?>

<taglib xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
        version="2.0">

    <tlib-version>2.1</tlib-version>
    <uri>/WEB-INF/userListTag.tld</uri>
    <tag>
        <name>userList</name>
        <tag-class>reznik.task18.tag.UserListTag</tag-class>
        <bodycontent>JSP</bodycontent>
        <attribute>
            <name>users</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
</taglib>